.root {
    -fx-background-color: whitesmoke;
}

.text-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.text-field, .password-field {
    -fx-padding: 10;
    -fx-border-color: #ccc;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

.button-login, .button-signup {
    -fx-background-color: #00008b;
    -fx-text-fill: white;
    -fx-padding: 10;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,139,0.5), 5, 0, 0, 0);
}

.label-link {
    -fx-text-fill: #007bff;
    -fx-text-decoration: none;
}

/* Additional Buttons */
.button1 {
    -fx-background-color: c3c3c3;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.30), 5, 0.50, 1, 2);
}

.button4 {
    -fx-cursor: hand;
    -fx-background-color: #00008b;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.50), 5, 0.25, 1, 2);
}

.button4:hover {
    -fx-background-color: black;
}

.button5 {
    -fx-background-color: #F4F3F3;
    -fx-border-radius: 15;
    -fx-background-radius: 100;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.30), 5, 0.50, 1, 2);
}

.button {
    -fx-text-fill: white;
    -fx-padding: 10 25 10 25;
    -fx-background-color: #00008b;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.50), 5, 0.25, 1, 2);
}
.button:hover{
    -fx-background-color: black;
    -fx-cursor: hand;
}

.newButton {
    -fx-background-color: #00008b;
    -fx-text-fill: white;
}
.newButton:hover {
    -fx-background-color: black;
    -fx-cursor: hand;
}

.button5:hover {
    -fx-background-color: #ececec;
}

.label {
    -fx-font-size: 14px;
    -fx-font-family: 'Inter';
    -fx-font-weight: 400;
    -fx-text-fill: black;
}

/* Edit and Delete Buttons */
.edit-button {
    -fx-background-color: #4CAF50; /* Green background */
    -fx-text-fill: white; /* White text */
    -fx-padding: 5 7 5 7;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.edit-button:hover {
    -fx-background-color: #45a049; /* Darker green when hovered */
}

.delete-button {
    -fx-background-color: #f44336; /* Red background */
    -fx-text-fill: white; /* White text */
    -fx-padding: 5 10 5 10;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.delete-button:hover {
    -fx-background-color: #d32f2f; /* Darker red when hovered */
}

/* TableView Styling */

/* General TableView Styling */


/* SHOW ALERT */
.alert-dialog {
    -fx-background-color: #f0f0f0; /* Light gray background */
}

.alert .dialog-pane {
    -fx-pref-width: 400px; /* Set preferred width */
    -fx-pref-height: 200px; /* Set preferred height */
}

.alert .header-panel {
    -fx-background-color: #3399ff; /* Blue header background */
    -fx-text-fill: white; /* White text */
    -fx-font-size: 16px; /* Font size */
}

.alert .content-panel {
    -fx-font-size: 14px; /* Font size for content */
}
