

.addstu {
    -fx-background-color: #343e52
}

.refstu {
    -fx-background-color: #343e52
}

.addphi {
    -fx-background-color: #343e52
}

.addcom {
    -fx-background-color: #343e52
}

.constu {
    -fx-background-color: #343e52
}

.canstu {
    -fx-background-color: #bf1c30
}

.clophi {
    -fx-background-color: #bf1c30
}